

.about_contenido_derecha_habilidad{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.about_contenido_derecha_habilidades{
    display: flex;
    flex-wrap: wrap;
}


.about_contenido_derecha {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.about_contenido_izquierda {
    padding-top: 62.416px;
    text-align: center;
}

.about_contenido_izquierda_boton {
    padding-top: 10px;  /* Centrar verticalmente con padding */
    padding-bottom: 10px;
    background-color: chocolate;
    width: 200px;
    margin: auto;  /* Para centrar horizontalmente */
}

.about_informacion_titulo,.about_informacion_titulo_texto {
    text-align: center;
}

.about_contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.redes_sociales_svbar a{
    padding: 5px;
    
}

.redes_sociales_svbar img {
    padding: 5px;  /* Espaciado alrededor de la imagen */
    width: 50px;
}

.redes_sociales_svbar {
    display: flex;  /* Usar flexbox para disposición */
    flex-direction: column;  /* Disposición en columna */
    justify-content: center;  /* Centrar verticalmente */
    align-items: flex-start;  /* Mantener a la izquierda */

    width: 60px;  /* Ancho */
    height: 20vh;  /* Altura igual a la altura de la ventana */
    margin-bottom: 100px;
}

.redes_sociales {
    text-align: center;
    width: 200px;
    position: relative;
    top: -175px;
    margin-bottom: 30px;

}

.intro_boton {
    padding-top: 10px;  /* Centrar verticalmente con padding */
    padding-bottom: 10px;
    background-color: chocolate;
    width: 200px;
    margin: auto;  /* Para centrar horizontalmente */
}


.intro{
    margin-top: 50px;   
    width: 300px;
    position: relative;
    left: 40%;
}


.header_content {
    background-color: rgb(86, 90, 88);
    display: flex; /* Convertir a flexbox */
    justify-content: space-between; /* Separar los elementos al máximo */
    align-items: center; /* Alinear verticalmente en el centro */
}

.header_logo-name{
    padding-left: 10px;
}

/* Estilo para el logo y el contenedor del logo */
.header_logo-container {
    padding: 10;
    display: flex; /* Para alinear el logo y el nombre del logo */
    align-items: center; /* Alinear verticalmente */
}

/* Estilo para la barra de navegación */
.navbar {
    margin: 10px;
    display: flex; /* Para alinear enlaces horizontalmente */
    border: 1px solid black;
}

/* Estilo para enlaces dentro de la barra de navegación */
.navbar a {
    text-decoration: none; /* Sin subrayado */
    padding: 18px; /* Espaciado interno */
    color: #333; /* Color de texto */
    border: 1px solid   black;
}

.navbar a:hover {
    color: #7b7070; /* Cambio de color al pasar el mouse */
}

body {
    margin: 0px;
    background-color: rgb(71, 68, 68);
}


#about {
    background: #797474db;
    padding: 100px;
    padding-top: 70px;
}

#home  {
    padding-top: 70px;
    text-align: center;
}