<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>omar-cornejo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header_content">
            <div class="header_logo-container">
                <div class="header_logo-img">
    
                </div>
                <div class="header_logo-name">OMAR A. CORNEJO</div>
            </div>
            <div class="navbar">
                <a href="#home">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#services">PROJECTS</a>
                <a href="#contact">CONTACT</a>
            </div>
        </div>
        
    </header>
    <section id="home">
        <div class="intro">
            <h1 class="intro_titulo">HI,I'M OMAR CORNEJO</h1>
            <div class="intro_texto"">
                <p>Computer engineering student at FIB</p>
            </div>
            <div class="intro_boton">
                <a>Projects</a>
            </div>
        </div>
        <div class="redes_sociales">
            <div class="redes_sociales_svbar">
                <img src="{{ url_for('static', filename='images/25231.png') }}" alt="github">
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about_informacion">
            <h1 class="about_informacion_titulo">About me</h1>
            <div class="about_informacion_titulo_texto"">
                <p>Here you will find more information about me,<br>what I do, and my current skills mostly in terms of programming and technology </p>
            </div>
        </div>
        <div class="about_contenido">
            <div class="about about_contenido_izquierda">
                <h3>Get me know me</h3>
                <div class="about_contenido_izquierda_texto">
                    <p>Insertar texto </p>
                    <p>Insertar texto </p>

                </div>
                <div class="about_contenido_izquierda_boton">
                    <a>Contact</a>
                </div>
                
            </div>
            <div class="about_contenido_derecha">
                <h3>My skills</h3>
                <div class="about_contenido_derecha_habilidades">
                    <div class="about_contenido_derecha_habilidad">HTML</div>
                    <div class="about_contenido_derecha_habilidad">PHP</div>
                    <div class="about_contenido_derecha_habilidad">SQL</div>
                    <div class="about_contenido_derecha_habilidad">C/C++</div>
                    <div class="about_contenido_derecha_habilidad">Git</div>
                    <div class="about_contenido_derecha_habilidad">GitHub</div>
                    <div class="about_contenido_derecha_habilidad">CSS</div>
                    <div class="about_contenido_derecha_habilidad">PYTHON</div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>


